<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Proyecto Fulbo</title>
    <!-- Agrega tu CSS o frameworks (por ejemplo, Bootstrap) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'inicio' %}">FulboApp</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'buscar_ligas' %}">Buscar Ligas</a>
                    </li>
                    <a class="nav-link" href="{% url 'mis_ligas' %}">Mis Ligas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mis_partidos' %}">Mis Partidos</a>
                </li>
                <!-- Agrega otros enlaces que necesites -->
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text">Hola, {{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Bloque de mensajes -->
    <div class="container mt-2">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- Contenido principal -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
