{% extends 'AppFulbo/base.html' %}
{% block content %}
<h2>Puntuar jugadores del partido {{ partido }}</h2>

<form method="post">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>Jugador</th>
                <th>Puntaje</th>
            </tr>
        </thead>
        <tbody>
            {% for jugador in jugadores %}
            <tr>
                <td>{{ jugador.apodo }}</td>
                <td>
                    <input type="number" name="puntaje_{{ jugador.id }}" step="0.1" min="0" max="10" class="form-control">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <button type="submit" class="btn btn-success">Guardar Puntajes</button>
</form>
{% endblock %}
